@font-face {
    font-family:'Public Sans';
    font-style: normal;
    font-weight: 100;
    src: url('../public-sans-v15-latin-100.woff2') format('woff2'); 
  }
@font-face {

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/public-sans-v15-latin-regular.woff2') format('woff2'); 
  }
@font-face {

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/public-sans-v15-latin-500.woff2') format('woff2'); 
  }